@import "./common.scss";

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.dmoe.cc/random.php");
  background-position: center 10%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 40rem;
  .title {
    color: #fff;
    font-size: 2rem;
  }
}

.loading {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  .tip {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    img {
      width: 100px;
      height: 100px;
    }
  }
}

.container {
  width: 100%;
  padding: 2rem 10rem;
  box-sizing: border-box;
  min-height: 50rem;
  .stitle {
    margin-top: 3rem;
  }
  .search {
    input {
      display: block;
      background-color: transparent;
      border: 1px solid #000000;
      outline: none;
      font-size: 16px;
      padding: 1rem 0;
      width: 100%;
      border-radius: 25px;
      padding-left: 1rem;
      box-sizing: border-box;
    }
  }

  .article-list {
    .article-item {
      margin: 1.5rem 0;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      padding: 10px;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 10px;
      .title {
        margin: 10px 0;
        h3 {
          font-weight: normal;
          color: #4e4e4e;
          .tag {
            font-size: 12px;
            background-color: #000;
            color: #fff;
            padding: 0.2rem 0.4rem;
            border-radius: 5px;
            vertical-align: middle;
            margin-right: 0.5rem;
          }
        }
      }
      .content {
        color: #a7a7a7;
        line-height: 2.4rem;
      }
    }
  }
}

.footer {
  padding: 2rem 10rem;
  background-color: #000;
  color: #fff;
}

.group-dir {
  position: fixed;
  right: 0;
  width: 200px;
  top: 0;
  .dir-tags {
    display: flex;
    flex-wrap: wrap;
    .dir {
      display: flex;
      padding: 0.2rem 1rem;
      border-radius: 20px;
      border: 1px solid #fff;
      background-color: #409eff;
      margin: 0.5rem;
      a {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
